In [3]:
 a = 5.5
 b="sridhar"
c=5+7j
d=6
l=[2,65,789,546]
t=(4,5,6)
s={'sridhar','pugazh','aarbaz'}
dic={6:7}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(l))
print(type(t))
print(type(s))
print(type(dic))

<class 'float'>
<class 'str'>
<class 'complex'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [3]:
 print('He is{}years old'.format(str(-20)))

He is-20years old

In [4]:
71==70

False

In [5]:
71!=70

True

In [7]:
'sridhar'=='sridhar'

True

In [8]:
'sri'!='sridhar'

True

In [9]:
'sridhar'=='sri'

False

In [10]:
456==4567

False

In [11]:
456!=456

False

In [14]:
(43<57)and(3<9)

True

In [15]:
(1>2)and(2>1)

False

In [16]:
(2>1)and(2>1)

True

In [31]:
('sri'!='sri')and('sri'!='sri')

False

In [26]:
('soft'>'software')or('soft'<'software')

True

In [32]:
2+2==4

True

In [33]:
6+6==12

True

In [34]:
12+12!=24

False

In [36]:
12+12==21

False

In [41]:
name='peter'
if name=='peter':
        print('Hello,peter')

Hello,peter

In [42]:
name='sri'
if name=='sri':
    print('Hello,sri')

Hello,sri

In [47]:
name='arbaz'
if name=='arbaz':
    print('Hi,arbaz.i love you .enna panra sapitya')

Hi,arbaz.i love you .enna panra sapitya

In [45]:
name='amma'
if name=='amma':
    print('sapitya,amma .enna panringa')

sapitya,amma .enna panringa

In [58]:
name='appa'
if name=='amma':
    print('Hi amma.')
else:   
    print('Hi mamy')

Hi mamy

In [75]:
name='sri'
age=10
if name=='amma':
    print('Hi,amma.')
elif age<10:
    print('Your age is less than 10')
name='sri'
age=30
if name=='amma':
    print('Hi,amma.')
elif age!=10:
    print('Your age is less than 12')
else:
    print('Your age is more than 10')

Your age is less than 12

In [79]:
var=0
while var<10:
    print('Hello,world.')
    var=var+6

Hello,world.
Hello,world.

In [ ]:
var=1
while True:
    print('sridhar...')
if var==10:
    break
    var+=1
    print('Loop exited')

In [ ]:
var=0
while var<=10:
    var+=1
    if var==5:
        continue
        print('This block of code i8s running for number...',var)
        print('Loop exited')